@page
@model Gift_of_the_Givers_Foundation.Pages.DisasterIncidents.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisasterIncident[0].IncidentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisasterIncident[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisasterIncident[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisasterIncident[0].Severity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisasterIncident[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DisasterIncident) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IncidentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Severity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
